__pycache__/
*.py[cod]

4D-Humans/.git/
4D-Humans/.local_home/
4D-Humans/__pycache__/
4D-Humans/hmr2/__pycache__/
4D-Humans/hmr2.egg-info/
4D-Humans/data/basicModel_neutral_lbs_10_207_0_v1.0.0.pkl
4D-Humans/mpips_smplify_public_v2.zip

video_to_results/inputs/*
!video_to_results/inputs/.gitkeep
video_to_results/exports/*
!video_to_results/exports/.gitkeep
!video_to_results/exports/man_waving_screen.npz
video_to_results/outputs/*
!video_to_results/outputs/.gitkeep

results_to_sonic/sonic_ready/*
!results_to_sonic/sonic_ready/.gitkeep
!results_to_sonic/sonic_ready/man_waving_screen_sonic.npz
results_to_sonic/packed_messages/*
!results_to_sonic/packed_messages/.gitkeep
!results_to_sonic/packed_messages/man_waving_screen_pose_v3.bin

input_videos/*
!input_videos/.gitkeep
!input_videos/man_waving_screen.webm
